version: "3.9"

services:
  api:
    build: .
    container_name: fastapi_tickets
    ports:
      - "8001:8001"
    environment:
      DATABASE_URL: postgresql+psycopg2://root:SenhaSuperForte1234@postgres_db:5432/postgres_db
      TZ: America/Sao_Paulo
    depends_on:
      - postgres_db
    volumes:
      - .:/app

  postgres_db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: SenhaSuperForte1234
      POSTGRES_DB: postgres_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
